In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("data.csv")

In [3]:
df.head()

,SYMBOL,NAME OF COMPANY,SERIES,DATE OF LISTING,PAID UP VALUE,MARKET LOT,ISIN NUMBER,FACE VALUE
0,20MICRONS,20 Microns Limited,BE,06-Oct-08,5,1,INE144J01027,5
1,21STCENMGM,21st Century Management Services Limited,EQ,03-May-95,10,1,INE253B01015,10
2,360ONE,360 ONE WAM LIMITED,EQ,19-Sep-19,1,1,INE466L01038,1
3,3IINFOLTD,3i Infotech Limited,EQ,22-Oct-21,10,1,INE748C01038,10
4,3MINDIA,3M India Limited,EQ,13-Aug-04,10,1,INE470A01017,10

In [4]:
print(df['SYMBOL'].dtype)

object